.parent {    
    background-color: rgb(81, 81, 129);
    border: 2px solid rgb(4, 0, 255);
    /* Mantenemos los bordes laterales y superiores sólidos, y difuminamos el inferior */
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, transparent, red, transparent) 1;
    
    height: 80%;
    width: 80%;
    padding-left: 0px;  
    z-index: 0;
    position: relative;
    padding: 20px;
    top: 0px; 
}
.topButtons {
    position: absolute;
    display: flex;            
    justify-content: center;   
    align-items: center;       
    text-align: center;        
    top: 10px;
    padding: 15px 30px;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1; 
                 
    box-sizing: border-box;    
    
    /* PROPIEDADES PARA MANDARLO A LA DERECHA */
    right: 20px; /* Cambia a 0px si lo quieres completamente pegado al borde */
    /* top: 20px; */ /* Opcional: ajusta también su posición vertical si lo necesitas */
}

.topButtons:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

.topButtons:active {
  transform: scale(0.9);
}

/* ==========================================
   ADAPTACIÓN PARA MÓVILES
   ========================================== */
@media (max-width: 768px) {
    .parent {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 10px;
    }

    /* Mantenemos el desplazamiento general para títulos y otros elementos */
    .parent h1, 
    .parent h2 {
        transform: translateY(-30px);
    }

    /* Reducimos el desplazamiento del párrafo para que tenga menos espacio respecto al título */
    .parent p {
        transform: translateY(-60px); /* Ajusta este valor si quieres acercarlo o alejarlo más */
    }

}