.navbarMain{
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    border-image: linear-gradient(to right, transparent, white, transparent) 1;
}

.portafolio{
   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.mainButton {
    
    height: 100%;
    width: 100px; /* O puedes quitar el width fijo si quieres que se adapte al contenido */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Esto empuja el botón por completo hacia la derecha */
    margin-left: auto; 
    transform: translateX(-50%); 
    
}



