/* Contenedor maestro que divide la pantalla en 2 grandes columnas (PC) */
.portfolioLayout {
    display: flex;
    flex-direction: row; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    position: relative; /* Clave para posicionar el fondo detrás */

     background: #000000;
background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(148, 187, 233, 1) 100%);    
}

/* Capa exclusiva para el fondo con patrón y máscara */
.portfolioLayout::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Envía el fondo por detrás de las columnas */

}

/* Agrupador de la izquierda: Ocupa el 40% */
.leftColumn {
    width: 30%; 
    height: 100%;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
}




.rightColumn {
    width: 70%;
    height: 100%;
    
    /* Envuelve la ruta en url() y ajusta si necesitas salir de la carpeta con ../ */
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, transparent, white, transparent) 1;
}

/* =========================================
   ADAPTACIÓN PARA MÓVILES (Pantallas <= 768px)
   ========================================= */
@media (max-width: 768px) {
    .portfolioLayout {
        flex-direction: column;   
        min-height: 100vh;
        overflow-y: auto;
    }

    /* La columna izquierda ocupa todo el ancho y se ajusta a su contenido de forma natural */
    .leftColumn {
        width: 100%;           /* Cambiado de 60% a 100% */
        height: 30%;          /* Altura automática para que no se corte */
  
        order: 1;              /* Arriba */
    }

    /* La columna derecha ocupa todo el ancho abajo */
    .rightColumn {
        width: 100%;           /* Cambiado de 60% a 100% */
           height: 70%;  
         /* Espacio suficiente para ver los proyectos cómodamente */
        order: 2;              /* Abajo */
        border-left: none;
        border-top: 2px solid;
        border-image: linear-gradient(to right, transparent, white, transparent) 1;
    }
}


